* {
  box-sizing: border-box;
  color: white;
}
section,
header {
  margin: auto;
}
body,
h1,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.divv {
  margin: auto;
  width: 1260px;
}
.header1 {
  width: 100%;

  height: 965px;
  background-image: url(/images/lucas.png);
  background-size: cover;
  padding-top: 60px;
}
.header-1 {
  width: 1732px;
  display: flex;
  height: 55px;
  justify-content: space-between;
  /* border: 1px solid; */
  margin: auto;
  align-items: center;
}
.ul-1 {
  display: flex;
  width: 497px;
  justify-content: space-between;
}
.lucas {
  color: gold;
  font-size: 44px;
}
.lucas::after {
  content: " Akmal";
  color: white;
}
.welcome {
  width: 368px;
  height: 233px;
  /* margin-left: 332px; */
  margin-top: 210px;
}
.hii {
  color: gold;
  font-size: 70px;
  font-weight: bold;
}
.hii::after {
  content: " Khaj Akmal";
  color: white;
}
.grap {
  font-size: 18px;
  margin-top: 15px;
}
.getin {
  width: 198px;
  height: 60px;
  border-radius: 33.5px;
  background-color: transparent;
  border: 1px gold solid;
  /* margin-left: 332px; */
  margin-top: 54px;
}
.facebuki {
  width: 400px;
  height: 26px;
  background-image: url(/images/socseti.png);
  background-size: cover;
  /* margin-left: 332px; */
  margin-top: 203px;
}
.sect2 {
  width: 1260px;
  height: 424px;

  display: grid;
  grid-template-columns: 531px 627px;
  grid-template-rows: 424px;
  column-gap: 100px;

  margin: auto;
  margin-top: 150px;

  margin-bottom: 150px;
}
.lorem1 {
  color: grey;
  margin-top: 37px;
  margin-bottom: 60px;
}
.about-me {
  color: black;
  font-size: 60px;
}
.hide {
  width: 138px;
  height: 56px;
  background-color: #3f3f3f;
  border: 0;
}
.dow {
  width: 186px;
  height: 56px;
  color: #3f3f3f;
  background-color: white;
  margin-left: 22px;
  border: 0;
}

.list1 {
  width: 616px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.adobe {
  color: #3f3f3f;
}
.stats {
  width: 600px;
  height: 5px;
  border-radius: 5px;
  background-color: gold;
  margin-top: 17px;
  margin-bottom: 56px;
}
/* .stats1 {
  width: 35px;
  height: 5px;
  background-color: grey;
  border-radius: 0 5px 5px 0;
  margin-top: 17px;
} */
.orab {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-s2 {
  padding-top: 60px;
}
p {
  color: grey;
}
.sect3 {
  width: 1920px;
  height: 951px;
  /* margin-left: 332px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  margin: auto;
}

.what-offer {
  font-size: 60px;
  margin-top: 130px;
  color: black;
}
.lorem2 {
  font-size: 18px;
  text-align: center;
  line-height: 180%;
  color: grey;
  margin-top: 14px;
}
.shops {
  width: 1270px;
  height: 392px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.prod {
  width: 404px;
  height: 392px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.sh1 {
  width: 83px;
  height: 83px;
  background-image: url(/images/sh1.png);
}
.lorem3 {
  width: 310px;
  height: 81px;
  text-align: center;
  line-height: 180%;
  margin-top: 11px;
}
.brand {
  font-size: 25px;
  color: #3f3f3f;
  margin-top: 35px;
}
.sh2 {
  background-image: url(/images/sh2.png);
}
.sh3 {
  background-image: url(/images/sh3.png);
}

.sect4 {
  width: 1274px;
  height: 1430px;
  margin-left: 332px;

  margin: auto;
  margin-bottom: 150px;
}
.div {
  display: flex;
  justify-content: center;
}
.orab {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 486px; */
}
.port {
  margin-top: 134px;
  color: black;
  font-size: 60px;
}
.ul-2 {
  display: flex;
  width: 486px;
  height: 25px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.list-2 {
  color: grey;
}
.grids1 {
  width: 1274px;
  height: 1114px;
  gap: 20px;
  display: grid;
  grid-template-columns: 411px 411px 411px;
  grid-template-rows: 358px 358px 358px;
  margin-bottom: 60px;
}

.ffoto {
  background-image: url(/images/coffee.png);
}

.ffoto:nth-child(2) {
  background-image: url(/images/Rectangle92.png);
}

.ffoto:nth-child(3) {
  background-image: url(/images/Rectangle91.png);
}

.ffoto:nth-child(4) {
  background-image: url(/images/Rectangle89.png);
}
.ffoto:nth-child(5) {
  background-image: url(/images/Rectangle88.png);
}
.ffoto:nth-child(6) {
  background-image: url(/images/Rectangle87.png);
}
.ffoto:nth-child(7) {
  background-image: url(/images/Rectangle86.png);
}
.ffoto:nth-child(8) {
  background-image: url(/images/Rectangle79.png);
}
.ffoto:nth-child(9) {
  background-image: url(/images/Rectangle78.png);
}

.view-port {
  width: 220px;
  height: 56px;
  color: white;
  background-color: #3f3f3f;
  border: 0;
}
.bbrands {
  width: 1920px;
  height: 915px;
  background-color: #3f3f3f;
  margin: auto;
  padding-top: 134px;
}
.bbran {
  font-size: 60px;
  text-align: center;
}
.lorem4 {
  font-size: 18px;
  line-height: 180%;
  margin-top: 14px;
  text-align: center;
}
.divide {
  width: 1486px;
  height: 423px;
  display: grid;
  margin: auto;
  margin-top: 60px;

  grid-template-columns: 247px 247px 247px 247px 247px 247px;
  grid-template-rows: 211px 211px;
  gap: 5px;
}
.vlogs {
  background-image: url(/images/Vector.png);
  background-size: cover;
  width: 78px;
  height: 78px;

  margin: auto;
}
